@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	width: 99%;
	height: 98%;
	/* background: rgba(255, 255, 255, 0.3); */
	/*background-color: white;*/
	text-align: center;
}
#light {
	color:#e4e4e4;
}

html { 
  background: url(tree2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#container {
	margin-left: auto;
	margin-right: auto;
}

div#navbar ul {
	display: flex;
	justify-content: center; 
	flex-direction: row; 
	align-items: start;
	list-style-type: none;
	background:rgba(0,0,0,0.3);
  }
div#navbar  ul li {
	padding: 10px 30px;
  }
div#navbar  ul li a {
	position: relative;
	display: block;
	text-decoration: none;
	font-size: 1.3rem;
	font: 25px Lucida Handwriting, sans-serif;
	color: #ffffff; /*#b6b6b6;*/
	padding: 4px 0;
	transition: 0.5s;
  }
div#navbar  ul li a::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: 100%;
	left: 0;
	background: #34a0a4;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: top;
  }
div#navbar  ul li a:hover {
	color: #ffffff;
	/* color: #95a5a6;*/
  }
div#navbar  ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom;
  }

   
	/* Option 1 - Display Inline */
	div#navbar li {
	  display: inline-block;
	  margin-right: -4px;
	}
   
	input[type=text] {
		width: 30%;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 15px;
		font-size: 16px;
		background-color: white;
		padding: 12px 20px 12px 40px;
		transition: width 0.4s ease-in-out;
	  }
	  
	  input[type=text]:focus {
		width: 50%;
	  }
	[id="search_bar"] {
		background-image: url('searchicon.png');
		background-size: 18px 18px;
		background-position: 12px 12px; 
		background-repeat: no-repeat;
	}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #34a0a4;
	border: none;
	border-radius: 15px;
	color: white;
	padding: 10px 12px;
	margin: 5px 2px;
	cursor: pointer;
	transition: background-color .4s ease-in-out;
}
	  
input[type=submit]:hover {
	background-color: #2d98da;
} 

label {
  display: block;
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

thead {
	background-color: #34a0a4;
	color: #ffffff;
	text-align: left;
}

td, th {
  padding: 12px 15px;
}

tbody tr {
	/* border-bottom: 1px solid #dddddd; */
	color: #ffffff;
}

tbody tr:nth-of-type(even) {
	background-color: #dfdede;
	color: #000000;
}

tbody tr:nth-of-type(odd) {
	background-color: #ffffff;
	color: #000000;
}

h1{
	color:#e4e4e4;
	text-align: center;
	font: bold 50px Garamond, sans-serif;
}
h2 {
	color:#e4e4e4;
}
h4 {
	color: #ffffff;
	text-align: center;
}

h3{
	color:#ff0000;

}

footer{
	width:auto;
	border-top: dotted 1px;
}

p {
	/* font: "Fira Sans", serif; */
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}